<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483043320756-qfqm2v4c5h4d4s9mo2ff3jtrgejaulrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483043320756-qfqm2v4c5h4d4s9mo2ff3jtrgejaulrf</string>
	<key>API_KEY</key>
	<string>AIzaSyAapvqSJBljjl5IRbrz9ZUkHhhCsJ9_xac</string>
	<key>GCM_SENDER_ID</key>
	<string>483043320756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gaff</string>
	<key>PROJECT_ID</key>
	<string>gaff-15c42</string>
	<key>STORAGE_BUCKET</key>
	<string>gaff-15c42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483043320756:ios:466a69f5f24807930188e1</string>
</dict>
</plist>